* {
  font-family: "MuseoModerno";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: 1, 900;
}

body {
  margin: 0;
}

code {
  font-family: "MuseoModerno";
}
